vivarium~=0.9.3
pyyaml~=5.3.1
pytest~=6.0.1
daedalus~=0.0.1
pandas~=0.24.2
numpy~=1.19.1
humanleague~=2.1.1
ukcensusapi~=1.1.5
microsimulation @ git+https://github.com/nismod/microsimulation.git@Development#egg=microsimulation
ukpopulation~=1.2.1
setuptools~=49.2.0
matplotlib~=3.2.2
vivarium_public_health @ git+https://github.com/alan-turing-institute/vivarium_public_health_spenser.git@develop#egg=vivarium_public_health_spenser
distutils_pytest

